h1{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 30%;
}
p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 10px;
    display: flex;
    width: 68%;
}

article{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}